language: bash 
sudo: required
group: deprecated-2017Q4
cache: packages

services:
    - docker

addons:
  apt:
    packages:
    - pkg-config
    - cmake
    - build-essential
    - gcc
    - curl
    - rsync

env: SCRIPTROOT=/vagrant

matrix:
  include:
    - dist: trusty
    - dist: xenial

before_install:
  - sudo adduser --disabled-password --gecos "" vagrant
  - sudo adduser vagrant adm
  - sudo mkdir -p $SCRIPTROOT && sudo cp -rf ./* $SCRIPTROOT
  - sudo mkdir -p /opt/vclfiddle/
  - sudo mkdir -p /var/web
  - sudo apt-get update

install:
  - curl -sSL https://get.docker.com/ | sudo sh
  - curl -sL https://deb.nodesource.com/setup_4.x | sudo bash -
  - sudo apt-get install --assume-yes nodejs
  - sudo apt-get install --assume-yes node-gyp
  - sudo npm install --global sails@0.10.5
  - sudo rsync -av $SCRIPTROOT/web/ /var/web
  - pushd /var/web && sudo npm install && popd

before_script:
  - sudo mkdir -p /var/lib/vclfiddle/
  - sudo chown vagrant:adm /var/lib/vclfiddle/
  - sudo chmod 0775 /var/lib/vclfiddle/

script:
  - $SCRIPTROOT/varnish5_2_1/build.sh
  - $SCRIPTROOT/varnish5_1_3/build.sh
  - $SCRIPTROOT/varnish5_0_0/build.sh
  - $SCRIPTROOT/varnish4_1_9/build.sh
  - $SCRIPTROOT/varnish4_0_5/build.sh
  - $SCRIPTROOT/varnish3_0_7/build.sh
  - $SCRIPTROOT/varnish2_1_5/build.sh
  - $SCRIPTROOT/varnish2_0_6/build.sh

after_script:
  - sudo gcc $SCRIPTROOT/run-varnish-container.c -o /opt/vclfiddle/run-varnish-container
  - sudo cp $SCRIPTROOT/run-varnish-container.py /opt/vclfiddle/run-varnish-container.py
  - sudo chown root:root /opt/vclfiddle/run-varnish-container*
  - sudo chmod 04755 /opt/vclfiddle/run-varnish-container
  - sudo chmod 755 /opt/vclfiddle/run-varnish-container.py
  - sudo npm install --global mocha
  - sudo rsync -av $SCRIPTROOT/web/ /var/web
  - cd /var/web && sudo npm install

after_success:
  - sudo npm test

# vim:set et ts=2 sw=2:
