sudo: required
dist: xenial
language: bash

services:
    - docker

addons:
  apt:
    packages:
    - pkg-config
    - cmake
    - build-essential
    - gcc

env:
  - SCRIPTROOT=/vagrant

before_script:
  - sudo mkdir -p $SCRIPTROOT
  - sudo mkdir -p /opt/vclfiddle/
  - sudo mkdir -p /var/web/

script:
  - ./bootstrap.sh

# vim:set et ts=2 sw=2:
